.flex {
    display: flex;

    &-inline {
        display: inline-flex;
    }
    &-wrap {
        flex-wrap: wrap;
    }
    &-col {
        flex-direction: column;
    }
    &-col-reverse {
        flex-direction: column-reverse;
    }
    &-row {
        flex-direction: row;
    }
    &-cc {
        justify-content: center;
        align-items: center;
    }
}

.content {
    &-start {
        justify-content: flex-start;
    }
    &-center {
        justify-content: center;
    }
    &-end {
        justify-content: flex-end;
    }
    &-space-b {
        justify-content: space-between;
    }
}

.items {
    &-start {
        align-items: flex-start;
    }
    &-center {
        align-items: center;
    }
    &-end {
        align-items: flex-end;
    }
}

.self {
    &-justify-start {
        justify-self: flex-start;
    }
    &-justify-center {
        justify-self: center;
    }
    &-justify-end {
        justify-self: flex-end;
    }
}

.self {
    &-align-start {
        align-self: flex-start;
    }
    &-align-center {
        align-self: center;
    }
    &-align-end {
        align-self: flex-end;
    }
}