{{!< default}}

<section class="categories">
    <div class="wrapper">
        {{#page}} {{> components/page-header title=title subtitle=custom_excerpt}} {{/page}}

        {{> components/loop is_tags=true}}

        {{^if @member}}
            {{> components/cta}}
        {{/if}}
    </div>
</section>
