{{!< default}}

<div class="home">
    <div class="container wrapper">

        <div class="home-side flex flex-col">

            {{> components/loop 
                filter='' 
                limit='3' 
                is_articles=true 
                classes='articles-loop--sidebar' 
                article_classes='card--sidebar'
                title="News feed"
            }}

            {{> components/loop 
                filter='' 
                limit='3' 
                is_articles=true 
                classes='articles-loop--sidebar' 
                article_classes='card--sidebar'
                title="Other"
            }}

        </div>

        <div class="home-main flex flex-col">

            {{> components/loop 
                is_hero=true
            }}

            {{> components/loop 
                filter='' 
                limit='5' 
                is_articles=true 
                with_images=true 
                with_link_to_more=true
                with_first_featured_post=true
                classes='articles-loop--main-1' 
                article_classes='card--main-1'
                title='Climate'
            }}

            {{#get "posts" include='tags' filter='tag:hash-horizontal-selected' limit='1'}}
                {{#if posts}}
                    {{#foreach posts}}
                        {{> components/card
                            classes='card--horizontal-selected'
                        }}
                    {{/foreach}}
                {{/if}}
            {{/get}}

            {{> components/loop 
                filter='' 
                limit='3' 
                is_articles=true 
                with_images=true 
                with_link_to_more=true
                with_custom_excerpt=true
                classes='articles-loop--main-2' 
                article_classes='card--main-2'
                title='Politics'
            }}

            {{> components/loop 
                filter='' 
                limit='4' 
                is_articles=true 
                with_images=true 
                with_link_to_more=true
                classes='articles-loop--main-3' 
                article_classes='card--main-3'
                title='Economics'
            }}

        </div>

    </div>
</div>

