{{!< default}}

<section class="hero">
    <div class="wrapper container">
        <h1>
            {{#if @custom.home_page_main_title}}
                {{@custom.home_page_main_title}}
            {{else}}
                {{@site.title}}
            {{/if}}
        </h1>

        {{> components/loop is_hero=true}}
    </div>
</section>