{{!< default}}

{{#post}}

<article class="article">
    <div class="wrapper">
        {{#if @page.show_title_and_feature_image}}
            {{> components/post/header}}
        {{/if}}

        <div id="post-content" class="post-content">
            {{content}}
        </div>
    </div>
</article>

{{/post}}
