.home {
    padding: 0 0 clamp(7rem, 5.291rem + 3.797vw, 10rem);

    .container {
        display: flex;
        justify-content: space-between;
    }

    .home-side {
        width: 24%;
        row-gap: 5rem;
    }

    .home-main {
        width: 70%;
        row-gap: 5rem;
    }
}