.cta {
    padding: 6rem 1.6rem;
    margin-top: clamp(7rem, 5.291rem + 3.797vw, 10rem);
    
    &:not(.cta--footer) {
        background-color: var(--color-grey-light);
        background-position: center;
        background-size: cover;
        position: relative;
        position: relative;
    }

    & > * {
        text-align: center;
        color: var(--color-black);
        position: relative;
        z-index: 1;
    }

    &__title {
        font-size: clamp(3rem, 2.658rem + 0.759vw, 3.6rem);
        font-weight: 600;
        max-width: 64rem;
    }

    &__subtitle {
        margin-top: clamp(1.2rem, 1.086rem + 0.253vw, 1.4rem);
        font-size: clamp(1.8rem, 1.572rem + 0.506vw, 2.2rem);
        font-weight: 400;
        max-width: 52.5rem;
    }

    .form {
        margin-top: 2.8rem;
        max-width: 52.5rem;
    }
}

/* Footer CTA */ 

.cta.cta--footer {
    padding: 0;
    background-color: unset;
    margin-top: 0;
    align-items: flex-start;

    & > p {
        color: var(--color-black);
        text-align: start;
        margin-top: 0;
    }

    form {
        margin-top: clamp(1.2rem, 0.972rem + 0.506vw, 1.6rem);
    }

    form .button {
        border-top: 1px solid var(--ghost-accent-color);
        border-bottom: 1px solid var(--ghost-accent-color);
    }
}


/* Home CTA */

.cta.cta--home {
    margin-top: 0;
}



/* Preview CTA */

.cta.cta--preview {
    margin-top: 0;

    .button {
        color: var(--color-brand-contrast);
        margin-bottom: 1rem;
    }

    .button:hover {
        color: var(--ghost-accent-color)
    }

    .button + small {
        color: var(--color-white)
    }
}