.form {
    width: 100%;
    display: flex;
    position: relative;

    label > input:focus-visible::placeholder {
        opacity: 0;
    }

    label {
        flex-grow: 1;
    }

    .button {
        font-size: clamp(1.6rem, 1.258rem + 0.759vw, 2.2rem);
        font-weight: 500;
        padding: 1.2rem clamp(2.4rem, 1.773rem + 1.392vw, 3.5rem);
        border-top: none;
        border-bottom: none;
        cursor: pointer;

        position: relative;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
        }

        svg path {
            fill: var(--color-brand-contrast);
        }
    }

    &.loading button {
        color: transparent;
        cursor: not-allowed;

        &:hover {
            background-color: var(--ghost-accent-color);
            color: transparent;
        }

        svg {
            display: block;
        }
    }

    &__notification {
        position: absolute;
        top: calc(100% + 1.4rem);
        width: 100%;
        text-align: center;

        p {
            font-size: 1.4rem;
            visibility: hidden;
        }
    }

    &__error-text {
        color: var(--color-error);
    }

    &__success-text {
        color: var(--color-success)
    }

    &.error &__error-text,
    &.success &__success-text {
        visibility: visible;
    }

}

.form.form--cta {
    label > span {
        display: none;
    }

    label > input {
        width: 100%;
        height: 100%;
        padding: 0 clamp(1.2rem, 0.403rem + 1.772vw, 2.6rem);
        position: relative;

        font-size: clamp(1.4rem, 1.172rem + 0.506vw, 1.8rem);
        font-weight: 400;
        line-height: 1;

        &:focus-visible {
            outline: none;
        }
    }

    label > input::placeholder {
        font-size: clamp(1.4rem, 1.172rem + 0.506vw, 1.8rem);
        font-weight: 400;
        line-height: 1;
        top: 50%;
        transform: translate(0, -50%);
        position: absolute;
        transition: all .1s;
    }

}

.form.form--login {
    flex-direction: column;
    align-items: center;
    row-gap: 1.8rem;
    width: 100%;
    margin-top: clamp(3rem, 1.861rem + 2.532vw, 5rem);

    label {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    label > span {
        font-size: clamp(1.8rem, 1.572rem + 0.506vw, 2.2rem);
        font-weight: 400;
    }

    label > input {
        margin-top: clamp(1rem, 0.658rem + 0.759vw, 1.6rem);
        border: 1px solid var(--color-grey-dark);

        padding: 1.6rem 2rem;

        &:focus-visible {
            outline: none;
        }

    }

    label > input,
    label > input::placeholder {
        font-size: clamp(1.6rem, 1.486rem + 0.253vw, 1.8rem);
        font-weight: 400;
    }

    .button {
        width: 100%;
    }

    & > p {
        font-size: clamp(1.8rem, 1.572rem + 0.506vw, 2.2rem);
        font-weight: 400;

        a {
            color: var(--ghost-accent-color)
        }
    }
}