.header {
    margin: 2rem 0 clamp(3rem, 1.861rem + 2.532vw, 5rem);

    &__link {
    }
    &__buttons {
        column-gap: 2.4rem;

        .desktop-buttons {
            column-gap: 2.4rem;

            @media (max-width:1024px) {
                display: none;
                visibility: hidden;
            }
        }

        .js-mobile-menu-target {
            display: none;
            visibility: hidden;
            cursor: pointer;

            @media (max-width:1024px) {
                display: block;
                visibility: visible;
            }
        }
    }

    img {
        max-width: 12rem;
    }

    .site-name {
        font-size: 3.6rem;
        font-style: italic;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
}