.header {
    margin-top: 2rem;

    &__link {
    }
    &__buttons {
        column-gap: 2.4rem;
    }

    img {
        max-width: 12rem;
    }
}
.container {
}
.wrapper {
}
.flex {
}
.site-name {
}
.items-center {
}
.button {
}
.button--minimal {
}
