
/* Default styles for articles loop */
.articles-loop {
    position: relative;

    h2 {
        font-size: clamp(4rem, 3.772rem + 0.506vw, 4.4rem);
        font-weight: 700;
        text-transform: uppercase;
        font-style: normal;
    }

    &__read-more {
        position: absolute;
        top: 1.6rem;
        right: 0;

        font-size: 2rem;
        font-weight: 400;

        svg {
            margin-left: 0.8rem;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

/* Hero articles loop */
.articles-loop.articles-loop--hero {


    h1 {
        font-size: clamp(4.6rem, 4.03rem + 1.266vw, 5.6rem);
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
    }

    & > div {
        margin-top: clamp(2rem, 1.43rem + 1.266vw, 3rem);
    }

    .swiper {
        padding-bottom: 2.4rem;
    }
}

/* Sidebar articles loop */
.articles-loop.articles-loop--sidebar {

    & > ul {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        row-gap: clamp(1.6rem, 1.372rem + 0.506vw, 2rem);
    }

    li:not(:last-child) .card {
        padding-bottom: clamp(1.6rem, 1.372rem + 0.506vw, 2rem);
        border-bottom: 1px solid var(--color-grey);
    }

    & > ul + .button {
        text-align: center;
        width: 100%;
        margin-top: clamp(2.4rem, 2.058rem + 0.759vw, 3rem);
    }
}

/* Main 1 articles loop */
.articles-loop--main-1 {

    & > ul {
        margin-top: 2.4rem;
        gap: 2rem; 

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    li:first-child {
        grid-column: span 2;
    }

    & > ul > li:not(:first-child) {
        background-color: var(--color-grey-light);
    }
}

/* Main 2 articles loop */

.articles-loop--main-2 {
    
    & > ul {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        row-gap: clamp(2rem, 1.43rem + 1.266vw, 3rem);
    }
}

/* Main 3 articles loop */

.articles-loop--main-3 {

    & > ul {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        column-gap: 2.5rem;
        row-gap: 2rem;
    }

    li {
        width: calc(50% - 1.25rem);
    }
}


/* Categories tags loop */

.tags-loop.tags-loop--categories {
    display: flex;
    flex-direction: column;
    margin-top: clamp(1.8rem, 1.116rem + 1.519vw, 3rem);
    margin-bottom: clamp(7rem, 5.291rem + 3.797vw, 10rem);

    .tags-loop__header {
        font-size: clamp(1.4rem, 0.83rem + 1.266vw, 2.4rem);
        font-weight: 700;
        text-align: end;
        padding-bottom: clamp(0.6rem, 0.372rem + 0.506vw, 1rem);
        border-bottom: 1px solid var(--color-grey)
    }

    .card {
        width: 23.5%;
    }
    
    ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 2%;
        padding-top: 5rem;
        row-gap: 4rem;
    }
}

/* Tag page articles loop */

.articles-loop.articles-loop--tag-page {
    margin-top: clamp(1.8rem, 1.116rem + 1.519vw, 3rem);
    margin-bottom: clamp(7rem, 5.291rem + 3.797vw, 10rem);
    
    .articles-loop__header {
        font-size: clamp(1.4rem, 0.83rem + 1.266vw, 2.4rem);
        font-weight: 700;
        text-align: end;
        padding-bottom: clamp(0.6rem, 0.372rem + 0.506vw, 1rem);
        border-bottom: 1px solid var(--color-grey)
    }

    & ul > li:first-child .card__image {
        aspect-ratio: 2.04 / 1
    }

    & > ul {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
        row-gap: clamp(3rem, 2.43rem + 1.266vw, 4rem);
    }

    & > ul > li {
        background-color: var(--color-grey-light);
        height: max-content
    }

    & > ul li:first-child {
        grid-column: span 4;
    }

    & > ul li:nth-child(2),
    & > ul li:nth-child(3) {
        grid-column: span 2;
    }
}


/* Author page loop */

.articles-loop.articles-loop--author-page {
    margin-top: clamp(1.8rem, 0.547rem + 2.785vw, 4rem);

    .articles-loop__header {
        font-size: clamp(1.4rem, 0.83rem + 1.266vw, 2.4rem);
        font-weight: 700;
        text-align: end;
        padding-bottom: clamp(0.6rem, 0.372rem + 0.506vw, 1rem);
        border-bottom: 1px solid var(--color-grey)
    }

    & > ul {
        margin-top: clamp(3rem, 2.43rem + 1.266vw, 4rem);
    }
}


/* Related articles loop */
.articles-loop.articles-loop--related {

    & > ul {
        margin-top: 2.4rem;
        gap: 2rem; 

        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    & > ul > li:first-child {
        grid-column: span 1;
    }

    & > ul > li {
        background-color: var(--color-grey-light);
    }
}