.tags {

    li {
        position: relative;
        z-index: 2;
    }

    a {
        text-decoration: underline;
    }
}

.tags.tags--hero {
    column-gap: 1rem;
}

.tags.tags--article {
    column-gap: 0.4rem
}