.tiers {
    margin-top: clamp(2rem, 1.43rem + 1.266vw, 3rem);
    
    .wrapper {
        border-top: 1px solid var(--color-grey);
        padding-top: clamp(2rem, 1.43rem + 1.266vw, 3rem);
    }

    .tiers-switch[data-active-price="yearly"] + .tiers-cards [data-monthly],
    .tiers-switch[data-active-price="monthly"] + .tiers-cards [data-yearly] {
        display: none;
    }

    .tiers-switch {
        background-color: var(--color-grey-light);
        width: max-content;
        margin: 0 auto;
        padding: 0.4rem;

        button {
            font-size: 1.8rem;
            font-weight: 500;
            padding: 1.4rem 4.2rem;
            color: var(--color-black);
            background-color: transparent;
            cursor: pointer;
        }
    }

    .tiers-switch[data-active-price="yearly"] > button[data-price='yearly'],
    .tiers-switch[data-active-price="monthly"] > button[data-price='monthly'] {
       background-color: var(--ghost-accent-color);
       color: var(--color-brand-contrast)
    }

    .tiers-cards {
        margin-top: clamp(4rem, 2.861rem + 2.532vw, 6rem);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        row-gap: 3rem;
    }
}

.account > .tiers > .wrapper {
    border-top: none;
}

.membership > .tiers {
    margin-bottom: clamp(7rem, 5.291rem + 3.797vw, 10rem);
}