/* Grid-sytem */
.wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: calc(var(--global-max-width) + var(--padding-base) * 2);
  margin: 0 auto;
  width: 100%;
}

.container-fixed, .container {
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding-right: var(--padding-base);
  padding-left: var(--padding-base);
}