{{#if is_featured_background}}
    <article class="card flex flex-col {{classes}}">
        <a href="{{url}}" title="Visit publication page" class="card__link"></a>
        <figure class="card__image">
            {{> components/image
                image_type='post'
                image_class='lazyload'
                image_url=feature_image
                size_xs=true
                size_s=true
                size_m=true
                size_l=true
                size_xl=true
                loading='lazy'
            }}
        </figure>

        <div class="card__text flex flex-col">
            <div class="flex items-center content-space-b">
                {{> components/tags is_hero=true classes='tags--hero'}}
                <time>{{reading_time minute="Only a minute" minutes="% min read"}}</time>
            </div>
            <h3>{{title}}</h3>
        </div>
    </article>
{{/if}}