<article class="cta flex flex-col items-center">
    <h2 class="cta__title">Explore Further into the Latest News</h2>
    <p class="cta__subtitle">Subscribe to our newsletter and delve into compelling narratives that hold significance.</p>
    {{> components/form type='subscribe'}}
</article>