{{#if is_hero}}
    {{#if tags}}
        <ul class="tags flex items-center {{classes}}">
            {{#foreach tags}}
                <li><a href="{{url}}">{{name}}</a></li>
            {{/foreach}}
        </ul>
    {{/if}}
{{/if}}