<div class="tiers {{#if is_account}}tiers--account{{/if}}">
    <div class="wrapper">
        {{!-- {{^if is_account}}
            <small>See all prices</small>
        {{/if}} --}}

        <div class="tiers-switch flex items-center" data-active-price="monthly">
            <button data-price="monthly">{{t "Monthly"}}</button>
            <button data-price="yearly">{{t "Yearly"}}</button>
        </div>

        <div class="tiers-cards flex content-center">
            {{^if @member}}
                {{#get "tiers" include='benefits' filter='visibility:public+type:free'}}
                    {{#foreach tiers}}
                        {{> components/card is_tier_free=true}}
                    {{/foreach}}
                {{/get}}
            {{/if}}
            {{#get "tiers" include='monthly_price,yearly_price,benefits' filter="visibility:public+type:paid" limit="all"}}
                {{#foreach tiers}}
                    {{> components/card is_tier_paid=true}}
                {{/foreach}}
            {{/get}}
        </div>

        {{!-- {{^if is_account}}
            <p>{{t 'Already have an account?'}} <a href="/sign-in/">{{t 'Sign in'}}</a></p>
        {{/if}} --}}
    </div>
</div>

<script>
!function(){const e=document.querySelector(".tiers-switch"),r=document.querySelectorAll(".tiers-switch button"),c=document.querySelectorAll(".tiers-cards [data-monthly]"),l=document.querySelectorAll(".tiers-cards [data-yearly]");c.length>0&&l.length>0&&r.forEach(r=>{e.style.display="flex",r.addEventListener("click",t=>{e.setAttribute("data-active-price",r.getAttribute("data-price"))})})}();
</script>